<h1>Login</h1>

<form action="<%= url( '/login' ) %>" method="POST">
Username: <input type="text" name="username" /><br/>
Password: <input type="password" name="password" />
<input type="submit" />
</form>
